# Don't include dependencies (they will be installed in Docker)
node_modules

# Git repo files
.git
.gitignore

# Docker files
Dockerfile
.dockerignore

# OS & editor junk
*.log
*.swp
*.swo
*.DS_Store
*.vscode

# Prisma local development database
prisma/dev.db
prisma/dev.sqlite

# Prisma Studio settings (optional)
-.prisma
